<h1 class="text-center my-3">All our flats</h1>

<div class="row justify-content-center">
  <% @flats.each do |flat| %>
    <div class="card-trip col-3 m-2">
      <img src=<%="#{flat.picture_url}"%>/>
      <div class="card-trip-infos">
        <%= link_to flat_path(flat) do %>
          <div>
            <h2><%= flat.name %></h2>
            <p><%= flat.address %></p>
          </div>
        <% end %>
        <div class="details ms-2 mb-2">
          <div class="guests d-flex">
            <i class="fas fa-user-friends me-1 mb-2"></i>
            <h3><%= flat.number_of_guests %></h3>
          </div>
          <div class="price d-flex">
            <i class="fas fa-euro-sign me-1"></i>
            <h3 class="card-trip-pricing"><%= flat.price_per_night %></h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
