<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%=link_to flats_path, class: "text-reset mx-2" do %>
        Simple Airbnb
      <% end %>
      <%= link_to new_flat_path, class: "btn border border-1 rounded-3 text-reset mx-2" do %>
        Add Flat
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
